@using Se.Models
@model IEnumerable<Se.Models.BonusLog>

@{
    ViewBag.Title = "奖金记录";
}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 奖金管理 <span class="c-gray en">&gt;</span> 奖金记录 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form method="get">
        <div class="text-c">
            @*日期范围：
                <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">*@
            <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称" id="kw" name="kw" value="@ViewBag.KW">
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜记录</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        @*<span class="l">
                <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                <a href="javascript:;" onclick="member_add('添加用户','member-add.html','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a>
            </span>*@
        <span class="r">共有数据：<strong>@ViewBag.Count</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="40">ID</th>
                    <th width="80">产生会员</th>
                    <th width="80">受益会员</th>
                    <th width="40">奖金类型</th>
                    <th width="40">奖金数额</th>
                    <th width="40">原有奖金</th>
                    <th width="40">累加奖金</th>
                    <th width="70">发放时间</th>
                    <th width="130">备注</th>
                    @*<th width="100">操作</th>*@
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var member in Model)
                    {
                <tr class="text-c">
                    <td><input type="checkbox" value="@member.Id" name=""></td>
                    <td>@member.Id</td>
                    <td>@member.UserName</td>
                    <td>@member.ToUserName</td>
                    <td>@Enum.GetName(typeof(BonusType), member.BonusType)</td>
                    <td>@member.Cash</td>
                    <td>@member.OldCash</td>
                    <td>@member.NewCash</td>
                    <td>@member.BonusTime.ToString("yyyy年MM月dd日 HH时mm分")</td>
                    <td>@member.Remark</td>
                    @*<td class="td-manage">
                        @if (member.Status == 1)
                        {
                            <a style="text-decoration:none" onClick="member_stop(this,@member.Id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
                        }
                        else
                        {
                            <a style="text-decoration:none" onClick="member_start(this,@member.Id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>
                        }


                        <a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
            <a style="text-decoration:none" class="ml-5" onClick="change_password('修改密码','change-password.html','10001','600','270')" href="javascript:;" title="修改密码"><i class="Hui-iconfont">&#xe63f;</i></a>
            <a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>*@
                </tr>
                    }
                    <tr>
                        <td colspan="10">
                            <div class="pager" style="width: 100%">
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section js_function
    {
    <script type="text/javascript">
        var pageNo, pageCount,kw;
        pageNo = @ViewBag.P;
        pageCount = @ViewBag.PC;
        kw = $("#kw").val();

        $(function () {
            /*初始化分页*/
            if (pageCount == 0) { $(".pager").hide() }
            $(".pager").pager({ pagenumber: pageNo, pagecount: pageCount, buttonClickCallback: PageClick });
        });

        /*分页回调函数*/
        PageClick = function (pageclickednumber) {
            window.location = "/Admin/BonusList/?p=" + pageclickednumber+"&kw="+kw;
        }
    </script>
}


